*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style:none;
     text-decoration: none;
}
body{
     background: aliceblue;
     overflow: hidden;
}
.scene{
     width: 100%;
     height: clamp(600px,100vh,1000px);
     display: grid;
     place-items: center;
}
.scene .cadre{
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: clamp(450px,100%,900px);
     padding: 10px;
}


.error{
     display: flex;
     flex-direction: column;
}
.error span{
     display: flex;
     width: 100%;
     height: 100%;
}
.error span:last-child{
     text-indent:20px;
     font-family: 'Charm';
}



.boxes{
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding: 10px;
}
.boxes .box{
     width:30px;
     aspect-ratio: 1/1;
     padding: 15px 0;
     font-size: 1.4em;
     background: white;
     color: blue;
     transition: all .4s;
     border-radius: 50% 10px;
     filter: drop-shadow( 1px 1px 1px);
}
.boxes .box:hover{
     scale: 1.3;
     border-radius: 50%;
     filter: drop-shadow(0 0 5px);
}
.boxes a:nth-child(2) .box{
     color: green !important;
}
.boxes a:nth-child(3) .box{
     color: aqua !important;
}
.boxes a:last-child .box {
    color: rgb(34, 34, 34) !important;
}
@media screen and(max-width: 500px){
  body{
    background:blue;
  }
}